{% extends 'base.html' %}

{% block username %}
    {{ user }}
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-info">Add new Vehicle</h3>
        <br>

        <form method="post" enctype="multipart/form-data"> 
            {# Ensure the form uses the POST method #}
            {% csrf_token %} {# Include CSRF token for security #}
            {{ form.as_p }} {# Render the form fields using form.as_p #}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
